/* GT Pressura Mono */

@font-face {
    font-family: gt-pressura-mono;
    font-style: normal;
    src: url('GT-Pressura-Mono-Regular.eot');
    src: url('GT-Pressura-Mono-Regular.eot?#iefix') format('embedded-opentype'),
         url('GT-Pressura-Mono-Regular.woff') format('woff'),
         url('GT-Pressura-Mono-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: gt-pressura-mono;
    font-style: normal;
    font-weight: bold;
    src: url('GT-Pressura-Mono-Bold.eot');
    src: url('GT-Pressura-Mono-Bold.eot?#iefix') format('embedded-opentype'),
         url('GT-Pressura-Mono-Bold.woff') format('woff'),
         url('GT-Pressura-Mono-Bold.ttf')  format('truetype');
}
