/* GT Sectra */

@font-face {
    font-family: gt-sectra;
    font-style: normal;
    src: url('../img/fonts/GT-Sectra-Regular.eot');
    src: url('../img/fonts/GT-Sectra-Regular.eot?#iefix') format('embedded-opentype'),
         url('../img/fonts/GT-Sectra-Regular.woff') format('woff'),
         url('../img/fonts/GT-Sectra-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: gt-sectra;
    font-style: italic;
    src: url('../img/fonts/GT-Sectra-Regular-Italic.eot');
    src: url('../img/fonts/GT-Sectra-Regular-Italic.eot?#iefix') format('embedded-opentype'),
         url('../img/fonts/GT-Sectra-Regular-Italic.woff') format('woff'),
         url('../img/fonts/GT-Sectra-Regular-Italic.ttf')  format('truetype');
}
