/* Objects */


@sm-sidebar: 40%;
@md-sidebar: 35%;

.bleed,
.wrapper {
    &:extend(.fill-brand-one);
    a:extend(.fill-brand-one a) {}
    padding:1.5rem 0.5rem;
}
.bleed {
    .sm-plus({
        margin: 0 0 0 @sm-sidebar;
        padding: 1.5rem 0;
        box-shadow: rgba(0,0,0,0.2) 0 20px 30px -15px;
    });
    .md-plus({
        margin-left: @md-sidebar;
    });
}
.wrapper {
    margin: 0.5rem;
    padding:1rem 0;
    box-shadow: rgba(0,0,0,0.2) 0 20px 30px -15px;
    .sm-plus({
        margin: 1.5rem 1.5rem 1.5rem @sm-sidebar;
        &.wrapper-zigzag:nth-child(even) {
            margin: 1.5rem @sm-sidebar 1.5rem 1.5rem;
        }
    });
    .md-plus({
        margin: 2rem 5rem 2rem @md-sidebar;
        padding: 2rem 0;
        &.wrapper-zigzag:nth-child(even) {
            margin: 2rem @md-sidebar 2rem 5rem;
        }
    });
}

.padded {
    padding: 0 0.45rem;
}
.page-header {
    &:extend(.padded);
    padding-top: 10vh;
    .sm-plus({
        float: left;
        padding-top: 20vh;
        width: @sm-sidebar;
    });
    .md-plus({
        padding-top: 5rem;
        width: @md-sidebar;
    });
}



// objects
.bullet-list {
    &:extend(.indent-one);
    a {
        display: block;
        padding: 0.25em 0;
        text-decoration: none;
        &:after { content: "→"; }
    }
}
.prose .links-list,
.links-list {
    padding-left: 0;
    li {
        list-style-type: none;
        display: inline;
        margin-right: 0.5em;
        &:before { display: none; }
    }
    a {
        padding: 0.15rem  0.3rem;
        margin: -0.15rem -0.3rem;
    }
}
.prose .links-list { margin-top: -2.5rem; }

.testimonial {
    margin-top: 3rem;
    blockquote,
    blockquote > p:last-child {
        margin-bottom: 0;
    }
    blockquote {
        font-style: italic;
        position: relative;
        z-index: @layer-one;
    }
    &:before {
        content: "“";
        .title-type;
        position: absolute;
        font-size: 15rem;
        line-height: 0;
        opacity: 0.2;
        color: @brand-three;
        margin-left: -0.2em;
        margin-top: 0.2em;
        z-index: @layer-base;
    }
}
.testimonial-attribution {
    margin-left: auto;
    max-width: 15rem;
    margin-bottom: 3rem;
    
    &:before {
        content: "—";
        position: absolute;
        margin-left: -1rem;
        margin-top: -0.25rem;
    }
    
    > h4 { margin-bottom: 0; }
    > i { font-style: normal; }
}



// base
.header-logo {
    float: left;
    width: 12rem;
    margin: 0 0 0 -0.5rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    .ir {
        display: block;
        margin: 0;
        height: 7rem;
        width: 100%;
        background: url(../img/hamon-circle.svg) no-repeat scroll left top;
        background-size: contain;
    }
    .sm-plus({
        width: 15rem;
        .ir {
            height: 10rem;
            background-image: url(../img/hamon-logo.svg);
        }
    });
}
.header-nav {
    text-align: right;
    text-transform: uppercase;
    a:after { display: none; }
    a:hover { text-decoration: underline; }
    ul {
        padding-left: 0;
        max-width: 50%;
        margin: 0 0 0 auto;
    }
    li:last-child a {
        display: inline-block;
        margin-top: 0.25rem;
        padding: 0.25rem 0.75rem;
        background: @brand-one;
        color: @brand-three;
        &:hover {
            color: @brand-three !important;
        }
    }
}
.footer-logo {
    display: block;
    margin: 1rem 0 0;
    .ir {
        display: block;
        margin: 0;
        width: 100%;
        height: 1px;
        padding-top: percentage(179/537);
        background: url(../img/hamon-logo.svg) no-repeat scroll center center;
        background-size: 80% auto;
        transform: translateX(-5%);
    }
    .sm-plus({
        float: left;
        width: @sm-sidebar;
        .ir {
            background-position: left center;
            transform: none;
        }
    });
    .md-plus({
        width: @md-sidebar;
    });
}
.footer-nav {
    width: 70%;
    margin: 3rem auto;
    li {
        float: left;
        width: 50%;
        margin: 0;
        padding: 0.75rem 0;
        &:nth-child(even) { padding-left: 1.5rem; }
    }
    a { padding: 0.5rem 0; margin: -0.5rem 0; }
    a:hover { text-decoration: underline; }
    .sm-plus({
        width: auto;
        margin: 1rem 0 2rem @sm-sidebar;
        padding-left: 2.5rem;
    });
    
}
.footer-fineprint {
    .sm-plus({
        margin-left: @sm-sidebar;
        padding-left: 2.5rem;
    });
}
.footer-nav,
.footer-fineprint {
    .md-plus({
        margin-left: @sm-sidebar;
        padding-left: 0;
    });
}
