/* ========= */
/* = Theme = */
/* ========= */



/* Base Styles */

html, body {
    background: lighten(@brand-three, 50%);
    background: @brand-one;
    // color: @brand-three;
    color: @brand-two;
}
body {
    background: url(../img/bg.png) repeat-x scroll bottom center;
    padding-bottom: 50px;
}
a,
a:visited {
    color: inherit;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
.background-underline(@color: @brand-two, @opacity: 50%) {
    text-decoration: underline;
    .has-cssgradients & {
        text-decoration: none;
        background-image: linear-gradient(fade(@color, 0) 50%, fade(@color, @opacity) 50%);
        background-repeat: repeat-x;
        background-size: 2px 2px;
        background-position: 0 0.9em;
    }
    &:hover {
        text-decoration: none;
        background-image: none;
    }
}
.link-underline {
    .background-underline;
}
a.title-type,
.title-type a {
    &:extend(.link-underline all);
    .has-cssgradients & { background-position: 0 1.2em; }
}
a.silent {
    color: inherit !important;
    text-decoration: none;
    .has-cssgradients & { background: none; }
}
hr {
    border: none;
    border-top: 1px solid lighten(@brand-two, 70%);
    width: 1.5rem;
    margin-left: 0;
}



/* Brand Styles */

.brand-one  { color: @brand-one; }
.brand-two  { color: @brand-two; }
.brand-three{ color: @brand-three; }
.brand-four { color: @brand-four; }
.brand-five { color: @brand-five; }

.fill-brand-one {
    color: @brand-two;
    background: @brand-one;
    a { color: @brand-three; }
}
.fill-brand-two {
    color: @brand-one;
    background: @brand-two;
}
.fill-brand-three {
    color: @brand-one;
    background-color: @brand-three;
}
.fill-brand-four {
    color: @brand-three;
    background-color: @brand-four;
}
.fill-brand-five {
    color: @brand-two;
    background-color: @brand-five;
}




/* Animations */

