/* ========= */
/* = Theme = */
/* ========= */



/* Base Styles */

html, body {
    background: @brand-three;
    color: @brand-one;
}
body {
    background: url(../img/bg.png) repeat-x scroll bottom center;
    padding-bottom: 50px;
}
a,
a:visited {
    color: inherit;
    text-decoration: underline;
    outline: 0.15rem solid transparent;
}
a.silent {
    color: inherit !important;
    text-decoration: none;
}
a:not(.silent-hover):hover {
    transition: all 0.2s;
    background-color: @brand-three;
    outline: 0.15rem solid @brand-three;
    color: @brand-one !important;
    text-decoration: none;
}



/* Brand Styles */

.brand-one  { color: @brand-one; }
.brand-two  { color: @brand-two; }
.brand-three{ color: @brand-three; }
.brand-four { color: @brand-four; }
.brand-five { color: @brand-five; }

.fill-brand-one {
    color: @brand-two;
    background: @brand-one;
    a { color: @brand-three; }
}
.fill-brand-two {
    color: @brand-one;
    background: @brand-two;
}
.fill-brand-three {
    color: @brand-one;
    background-color: @brand-three;
}
.fill-brand-four {
    color: @brand-one;
    background-color: @brand-four;
}
.fill-brand-five {
    color: @brand-two;
    background-color: @brand-five;
}




/* Animations */

