---

layout: base

---

<header class="page-header">
  <div class="container">
    <h2 class="title-one">
      {{ page.title }}
    </h2>
    
    <div class="page-caption size-xlarge">
      <p>
        Articles &amp; Guides published under
        the topic {{ page.title }}.
      </p>
    </div>
  </div>
</header>

{%
  include articles_listing_by_topic.liquid
  title=false
  topic=page
%}

<div class="wrapper">
  <p class="container">
    <a class="title-type size-small" href="{{ site.baseurl | append: '/topics' }}">
      &lt; All Topics
    </a>
  </p>
</div>
