---

layout: base

---

{% assign brief = 'Articles & Guides published under the topic ' | append: page.title | append: '.' %}
{% include page_header.liquid brief=brief %}

{%
  include articles_listing_by_topic.liquid
  title=false
  topic=page
%}

<div class="wrapper">
  <p>
    <a class="title-type size-small" href="{{ site.baseurl | append: '/topics' }}">
      &lt; All Topics
    </a>
  </p>
</div>
