---

layout: base
permalink: /articles/

title: Articles & Guides

---


<header class="page-header">
  <div class="container">
    <h2 class="size-xxlarge title-one">
      {{ page.title }}
    </h2>
    
    <ul class="bullet-list title-type">
      {% assign nav_items = site.topics %}
      {% for item in nav_items %}
        <li>
          <a href="{{ site.baseurl | append: item.url }}">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</header>

<section class="wrapper">
  <div class="container">
    {% include articles_listing.liquid articles=site.articles %}
  </div>
</section>
