---
layout: base

body: |
  HAMON creates custom cutting edge software that powers innovation.
  
  Next time you're looking for advanced technology expertise to build solutions that power your business or make your vision a reality, please talk to us. We have been helping startups and established business since 2013.

icon:
  alt: Icon here
  src: /img/placeholder.png

clients:
     INBE       /img/client-placeholder.png
     Vyoma      /img/client-placeholder.png
     Eunimart    /img/client-placeholder.png

email: contact@hamon.in

---

{% assign work_page = site.pages | where: 'name', 'work.liquid' | first %}
{% assign about_page = site.pages | where: 'name', 'about.liquid' | first %}
{% assign contact_page = site.pages | where: 'name', 'contact.liquid' | first %}

<div>
  <section class="page-header">
    <div class="page-caption size-large">
      {{ page.body | markdownify }}
    </div>
  </section>
  
  <section class="wrapper">
    <h3 class="size-regular title-four">
      Services, Technologies, Domains
    </h3>
    <div>
    Client1 Client2 Client3 Client4
                     
    </div>
  </section>

  
  <section class="wrapper">
    <h3 class="size-regular title-four">
    Culture
    </h3>
    <div>
    Our name is inspired by the differential hardening technique in traditional Japanese swords. The hamon is the line where the harder steel of the edge meets the stronger steel at the back. We have been combining cutting edge software technologies with trusted and time proven methodologies to build industry grade solutions.
    </div>
  </section>

  <section class="wrapper">
    <h3 class="size-regular title-four">
    Team
    </h3>
    <div>
    The Hamon leadership team has more than 15 years of global software industry experience. We also have a strong cohort of engineers who have been hand selected to ensured culture fit and work with major clients directly.
    </div>
  </section>


</div>
