---
layout: page
permalink: /lycaeum/

title: The Lycaeum

logo:
  alt: The Lycaeum logo
  link: http://thelycaeum.in
  src: /img/lycaeum-logo.png

brief: |
  An experimental educational endeavour based in Kerala
  and focusing on IT education.

body: |
  The Lycaeum is a long term mentoring and training program run by
  Hamon technologies. Several tech. community building activities as
  well as long term trainings and public workshops are held by The
  Lycaeum on a regular basis. 
  
  If you're a college student or a fresher and interested in working
  at Hamon, please enroll for the [mentoring course](http://thelycaeum.in/courses.html) conducted
  regulary at The Lycaeum.
  
  For more information about The Lycaeum please visit
  [thelycaeum.in](http://thelycaeum.in).

topic: /topics/technology

---

{% if page.logo %}
  <figure class="contain-width centered">
    <a href="{{ page.logo.link }}">
      <img alt="{{ page.logo.alt }}" src="{{ site.baseurl | append: page.logo.src }}">
    </a>
  </figure>
{% endif %}

<div class="prose">
  {{ page.body | markdownify }}
</div>
