---
layout: page
permalink: /services/

title: Offerings

brief: |
  Hamon draws on its experience in software development to deliver reliable and cutting edge, solutions for global clients since 2013.

body: |
  We specialize in AI/ML, Cloud, and Automation technologies. We also provide technology advisory to design and architect solutions and also improve internal engineering processes and workflows.

  #### What we do
  - AI/ML
    - Data analysis and pre-processing
    - Standard machine learning and deep learning
    - Automation and data pipelines
    - Deploying ML solutions
  - Cloud Computing
      - AWS services (Sagemaker, Lambda, Cognito, Glue, etc.)
      - Cloud migration and management
  - Automation
      - Devops
      - Test automation and reporting
      - IoT device management
      - Custom deployment solutions
  - Advisory
      - Software development best practices
      - Scalable software architecture
      - CTO as a service

  #### How we work
  We do agile to make sure you get stuff done quickly.

  #### Who we work with
  

---



<div class="prose">
  {% if page.body %}
    {{ page.body | markdownify }}
  {% endif %}
  

</div>
